@use '@/theme/colors';

.PlayerInfo {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  padding: .5em;
  
  border-radius: 0 20px 20px 0;
  border: 1px solid var(--modal-border-color);
  border-left: none;
  background-color: var(--modal-background-color);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .7);
  transition: border .2s;

  &[data-is-current-player=true] {
    border-width: 2px;
    border-color: var(--primary-color);
  }

  .PlayerInfoAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
  }

  &Stats {
    margin-left: 10px;
  }

  &Troops, &Territories, &Cards, &Misc {
    display: flex;
    gap: .5em;
    align-items: center;

    svg {
      width: 16px;
      fill: var(--text-color);
    }
  }
}