$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-text-contrast-color: #1a1a1a;
$dark-background-color: #242424;
$dark-primary-color: #646cff;
$dark-active-primary-color: #535bf2;

$light-text-color: #213547;
$light-text-contrast-color: #e2e2e2;
$light-background-color: #bab5cf;
$light-primary-color: #646cff;
$light-active-primary-color: #747bff;

$troop-colors: (
  'white': #beb6b6,
  'black': #333333,
  'red': #e40a1c,
  'green': #3ca73c,
  'blue': #3636e4,
  'purple': purple,
  'pink': #ff00aa,
  'orange': #f07a0b,
  'yellow': #e9b025
);