@use 'sass:color';
@use 'sass:map';
@use '@/theme/colors';

.Avatar {
  width: 32px;

  @each $key, $color in colors.$troop-colors {
    &[data-player="#{$key}"] svg path {
      fill: $color;
      paint-order: stroke fill;
      stroke-width: 8%;
      stroke: var(--text-color);
      transform-origin: 50% 50%;
      transform: scale(.9)
    }
  }
}