@use '@/theme/colors';
@use '@/theme/fonts';

:root {
  --text-color: #{colors.$dark-text-color};
  --text-contrast-color: #{colors.$dark-text-contrast-color};
  --background-color: #{colors.$dark-background-color};
  --primary-color: #{colors.$dark-primary-color};
  --active-primary-color: #{colors.$dark-active-primary-color};

  @media (prefers-color-scheme: light) {
    --text-color: #{colors.$light-text-color};
    --text-contrast-color: #{colors.$light-text-contrast-color};
    --background-color: #{colors.$light-background-color};
    --primary-color: #{colors.$light-primary-color};
    --active-primary-color: #{colors.$light-active-primary-color};
  }

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-family: fonts.$main-font-family;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--active-primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:global(.form-group) {
  display: flex;
  margin-bottom: .5em;
  align-items: center;

  :global(.form-label) {
    cursor: pointer;
    text-align: left;
    flex: 1;
    margin-right: 1em;
  }

  input[type=checkbox], input[type=radio] {
    margin-right: 1em;
  }
}

input, select, button, :global(.btn) {
  border: 1px solid transparent;
  transition: border-color background-color 0.25s;

  &:hover {
    border-color: var(--primary-color);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

input, select {
  min-width: 10em;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: var(--text-contrast-color);
}

input[type=number] {
  text-align: right;
}

button, :global(.btn) {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--text-contrast-color);
  cursor: pointer;

  svg {
    fill: var(--text-color);
  }
}

:global(.switch) {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  :global(.slider) {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-contrast-color);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid transparent;
    transition: border-color background-color 0.25s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 3px;
      background-color: var(--text-color);
      -webkit-transition: .4s;
      transition: .4s;
    }

    /* Rounded sliders */
    &:global(.round) {
      border-radius: 34px;
    
      &:before {
        border-radius: 50%;
      }
    }
  }

  input:hover + :global(.slider) {
    border-color: var(--primary-color);
  }

  input:focus + :global(.slider), input:focus-visible + :global(.slider) {
    outline: 4px auto -webkit-focus-ring-color;
  }

  input:checked + :global(.slider) {
    background-color: var(--primary-color);
  }

  input:checked + :global(.slider):before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}